<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Importing-useful-packages" data-toc-modified-id="Importing-useful-packages-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Importing useful packages</a></span></li><li><span><a href="#Accessing-Chicago-Census-Data-2015" data-toc-modified-id="Accessing-Chicago-Census-Data-2015-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Accessing Chicago Census Data 2015</a></span><ul class="toc-item"><li><span><a href="#Using-censusdata-pkg-to-search-2015-cenus-with-5yr-american-community-survey" data-toc-modified-id="Using-censusdata-pkg-to-search-2015-cenus-with-5yr-american-community-survey-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Using censusdata pkg to search 2015 cenus with 5yr american community survey</a></span></li><li><span><a href="#Pulling-Block-Groups-and-Basic-Demographic-Data-from-Cook-County-(Chicago,-IL)--from-2015-Census/American-Community-Survey-5-Year-Data" data-toc-modified-id="Pulling-Block-Groups-and-Basic-Demographic-Data-from-Cook-County-(Chicago,-IL)--from-2015-Census/American-Community-Survey-5-Year-Data-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Pulling Block Groups and Basic Demographic Data from Cook County (Chicago, IL)  from 2015 Census/American Community Survey 5-Year Data</a></span><ul class="toc-item"><li><span><a href="#Calculating-Race/Ethnicity-&amp;-Employment-Percentages" data-toc-modified-id="Calculating-Race/Ethnicity-&amp;-Employment-Percentages-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Calculating Race/Ethnicity &amp; Employment Percentages</a></span></li><li><span><a href="#Adding-Race/Ethnicity-&amp;-Employment-Percentages-to-dataframe" data-toc-modified-id="Adding-Race/Ethnicity-&amp;-Employment-Percentages-to-dataframe-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Adding Race/Ethnicity &amp; Employment Percentages to dataframe</a></span></li><li><span><a href="#Calc-Educational-Attainment-Percentages" data-toc-modified-id="Calc-Educational-Attainment-Percentages-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>Calc Educational Attainment Percentages</a></span></li><li><span><a href="#Adding-Educational-Attainment-Percentages-to-dataframe" data-toc-modified-id="Adding-Educational-Attainment-Percentages-to-dataframe-2.2.4"><span class="toc-item-num">2.2.4&nbsp;&nbsp;</span>Adding Educational Attainment Percentages to dataframe</a></span></li><li><span><a href="#Exporting-to-.csv-to-organize-columns-in-Microsoft-Excel" data-toc-modified-id="Exporting-to-.csv-to-organize-columns-in-Microsoft-Excel-2.2.5"><span class="toc-item-num">2.2.5&nbsp;&nbsp;</span>Exporting to .csv to organize columns in Microsoft Excel</a></span></li></ul></li></ul></li><li><span><a href="#Importing-Organized-Demographic-Data" data-toc-modified-id="Importing-Organized-Demographic-Data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Importing Organized Demographic Data</a></span><ul class="toc-item"><li><span><a href="#Sorting-data-by-block-group" data-toc-modified-id="Sorting-data-by-block-group-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Sorting data by block group</a></span></li><li><span><a href="#Resetting-the-index,-and-creating-a-column-with-its-original-corresponding-number" data-toc-modified-id="Resetting-the-index,-and-creating-a-column-with-its-original-corresponding-number-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Resetting the index, and creating a column with its original corresponding number</a></span></li><li><span><a href="#Dropping-the-first-row,-as-it-has-0-population-and-NaN-values" data-toc-modified-id="Dropping-the-first-row,-as-it-has-0-population-and-NaN-values-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Dropping the first row, as it has 0 population and NaN values</a></span></li></ul></li><li><span><a href="#Creating-a-Map-of-Chicago" data-toc-modified-id="Creating-a-Map-of-Chicago-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Creating a Map of Chicago</a></span></li></ul></div>

### Importing useful packages

In [9]:
from json import dumps
import random
import sys

In [33]:
import numpy as np
from scipy.stats import pearsonr
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.preprocessing import StandardScaler 
import censusdata #pip install CensusData
import folium
import geopandas as gpd
from pyproj import CRS

In [2]:
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)

### Accessing Chicago Census Data 2015

#### Using censusdata pkg to search 2015 cenus with 5yr american community survey

In [3]:
censusdata.search('acs5', 2015, 'label', 'unemploy')[160:170]
censusdata.printtable(censusdata.censustable('acs5', 2015, 'B23025'))
censusdata.printtable(censusdata.censustable('acs5', 2015, 'B15003'))
censusdata.search('acs5', 2015, 'concept', 'household income')
censusdata.printtable(censusdata.censustable('acs5', 2015, 'B19001'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B23025_001E  | B23025.  Employment Status for | Total:                                                   | int
B23025_002E  | B23025.  Employment Status for | In labor force:                                          | int
B23025_003E  | B23025.  Employment Status for | !! In labor force: Civilian labor force:                 | int
B23025_004E  | B23025.  Employment Status for | !! !! In labor force: Civilian labor force: Employed     | int
B23025_005E  | B23025.  Employment Status for | !! !! In labor force: Civilian labor force: Unemployed   | int
B23025_006E  | B23025.  Employment Status for | !! In labor force: Armed Forces                          | int
B23025_007E  | B23025.  Employment Status for | Not in labor force                                       | int
-------------------------------------------------------------------------------------------------------------------
Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B15003_001E  | B15003.  Educational Attainmen | Total:                                                   | int
B15003_002E  | B15003.  Educational Attainmen | No schooling completed                                   | int
B15003_003E  | B15003.  Educational Attainmen | Nursery school                                           | int
B15003_004E  | B15003.  Educational Attainmen | Kindergarten                                             | int
B15003_005E  | B15003.  Educational Attainmen | 1st grade                                                | int
B15003_006E  | B15003.  Educational Attainmen | 2nd grade                                                | int
B15003_007E  | B15003.  Educational Attainmen | 3rd grade                                                | int
B15003_008E  | B15003.  Educational Attainmen | 4th grade                                                | int
B15003_009E  | B15003.  Educational Attainmen | 5th grade                                                | int
B15003_010E  | B15003.  Educational Attainmen | 6th grade                                                | int
B15003_011E  | B15003.  Educational Attainmen | 7th grade                                                | int
B15003_012E  | B15003.  Educational Attainmen | 8th grade                                                | int
B15003_013E  | B15003.  Educational Attainmen | 9th grade                                                | int
B15003_014E  | B15003.  Educational Attainmen | 10th grade                                               | int
B15003_015E  | B15003.  Educational Attainmen | 11th grade                                               | int
B15003_016E  | B15003.  Educational Attainmen | 12th grade, no diploma                                   | int
B15003_017E  | B15003.  Educational Attainmen | Regular high school diploma                              | int
B15003_018E  | B15003.  Educational Attainmen | GED or alternative credential                            | int
B15003_019E  | B15003.  Educational Attainmen | Some college, less than 1 year                           | int
B15003_020E  | B15003.  Educational Attainmen | Some college, 1 or more years, no degree                 | int
B15003_021E  | B15003.  Educational Attainmen | Associate's degree                                       | int
B15003_022E  | B15003.  Educational Attainmen | Bachelor's degree                                        | int
B15003_023E  | B15003.  Educational Attainmen | Master's degree                                          | int
B15003_024E  | B15003.  Educational Attainmen | Professional school degree                               | int
B15003_025E  | B15003.  Educational Attainmen | Doctorate degree                                         | int
-------------------------------------------------------------------------------------------------------------------
Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B19001_001E  | B19001. Household Income in th | Total:                                                   | int
B19001_002E  | B19001. Household Income in th | Less than $10,000                                        | int
B19001_003E  | B19001. Household Income in th | $10,000 to $14,999                                       | int
B19001_004E  | B19001. Household Income in th | $15,000 to $19,999                                       | int
B19001_005E  | B19001. Household Income in th | $20,000 to $24,999                                       | int
B19001_006E  | B19001. Household Income in th | $25,000 to $29,999                                       | int
B19001_007E  | B19001. Household Income in th | $30,000 to $34,999                                       | int
B19001_008E  | B19001. Household Income in th | $35,000 to $39,999                                       | int
B19001_009E  | B19001. Household Income in th | $40,000 to $44,999                                       | int
B19001_010E  | B19001. Household Income in th | $45,000 to $49,999                                       | int
B19001_011E  | B19001. Household Income in th | $50,000 to $59,999                                       | int
B19001_012E  | B19001. Household Income in th | $60,000 to $74,999                                       | int
B19001_013E  | B19001. Household Income in th | $75,000 to $99,999                                       | int
B19001_014E  | B19001. Household Income in th | $100,000 to $124,999                                     | int
B19001_015E  | B19001. Household Income in th | $125,000 to $149,999                                     | int
B19001_016E  | B19001. Household Income in th | $150,000 to $199,999                                     | int
B19001_017E  | B19001. Household Income in th | $200,000 or more                                         | int
-------------------------------------------------------------------------------------------------------------------

#### Pulling Block Groups and Basic Demographic Data from Cook County (Chicago, IL)  from 2015 Census/American Community Survey 5-Year Data

In [4]:
cookbgdemo = censusdata.download('acs5', 2015,
                             censusdata.censusgeo([('state', '17'), ('county', '031'), ('block group', '*')]),
                             ['B01001_001E', 'B01002_001E', 'B01001_002E', 'B01002_002E', 'B01001_026E','B01002_003E', 
                              'B03002_001E', 'B03002_003E', 'B03002_004E', 'B03002_005E', 'B03002_006E', 'B03002_007E',
                              'B03002_008E', 'B03002_009E', 'B03002_012E', 'B19013_001E', 'B23025_003E', 'B23025_004E', 'B23025_005E', 
                              'B15003_001E', 'B15003_002E', 'B15003_003E', 'B15003_004E', 'B15003_005E', 'B15003_006E', 'B15003_007E', 
                              'B15003_008E', 'B15003_009E', 'B15003_010E', 'B15003_011E', 'B15003_012E', 'B15003_013E',
                              'B15003_014E', 'B15003_015E', 'B15003_016E', 'B15003_017E', 'B15003_018E', 'B15003_019E', 'B15003_020E', 
                              'B15003_021E', 'B15003_022E', 'B15003_023E', 'B15003_024E', 'B15003_025E', 'B19001_002E', 'B19001_003E',
                             'B19001_004E','B19001_005E','B19001_006E','B19001_007E','B19001_008E','B19001_009E','B19001_010E','B19001_011E',
                             'B19001_012E','B19001_013E','B19001_014E','B19001_015E','B19001_016E','B19001_017E'])

cookbgdemo = cookbgdemo.rename(columns={'B01001_001E' : 'TotalPop', 'B01002_001E' : 'TotalMedianAge', 'B01001_002E' : 'MalePop', 
                                        'B01002_002E' : 'MMedianAge', 'B01001_026E' : 'FemalePop', 
                                        'B01002_003E' : 'FMedianAge', 'B03002_001E' : 'TotalAll', 'B03002_003E' : 'White', 'B03002_004E': 'BlackorAA', 
                                        'B03002_005E' : 'Native', 'B03002_006E' : 'Asian', 'B03002_007E' : 'PacificIslander', 
                                        'B03002_008E' : 'Other', 'B03002_009E' : 'TwoPlus', 'B03002_012E' : 'HispanicLatino',
                                        'B19013_001E' : 'MedianHHIncome', 'B23025_003E' : 'TotalCivLaborForce', 
                                        'B23025_004E' : 'TotalCivEmployed', 'B23025_005E': 'TotalCivUnemployed', 'B15003_001E' : 'TotalEdu', 
                                        'B15003_002E' : 'NoSchooling', 'B15003_003E' : 'Nursery', 
                                        'B15003_004E' : 'Kindergarten', 'B15003_005E' : '1stGrade', 
                                        'B15003_006E' : '2ndGrade', 'B15003_007E' : '3rdGrade' , 'B15003_008E' : '4thGrade', 
                                        'B15003_009E' : '5thGrade', 'B15003_010E' : '6thGrade' , 'B15003_011E' : '7thGrade', 
                                        'B15003_012E' : '8thGrade', 'B15003_013E' : '9thGrade' , 'B15003_014E' : '10thGrade',
                                        'B15003_015E' : '11thGrade', 'B15003_016E' : '12thGradeNoGrad', 'B15003_017E' : 'HSGrad', 
                                        'B15003_018E' : 'GEDHSGrad', 'B15003_019E' : '1YrCollege', 'B15003_020E' : '1PlusYrsCollegeNoDeg',
                                        'B15003_021E' : 'AssociatesDeg', 'B15003_022E' : 'BachelorsDeg', 'B15003_023E' : 'MastersDeg', 
                                        'B15003_024E' : 'ProSchoolDeg', 'B15003_025E' : 'DoctorateDeg', 
                                        'B19001_002E' : 'Less10k', 'B19001_003E' : '10k_14.9k','B19001_004E' : '15k_19.9k',
                                        'B19001_005E' : '20k_24.9k', 'B19001_006E' : '25k_29.9k','B19001_007E' : '30k_34.9k',
                                        'B19001_008E' : '35k_39.9k', 'B19001_009E' : '40k_44.9k', 'B19001_010E' : '45k_49.9k',
                                        'B19001_011E' : '50k_59.9k', 'B19001_012E' : '60k_749.9k', 'B19001_013E' : '75k_99.9k',
                                        'B19001_014E' : '100k_124.9k', 'B19001_015E' : '125k_149.9k', 'B19001_016E' : '150k_199.9k',
                                        'B19001_017E' : '200k+'})

##### Calculating Race/Ethnicity & Employment Percentages

In [5]:
PercWhite = (cookbgdemo['White']/cookbgdemo['TotalAll']) * 100
PercBlack = (cookbgdemo['BlackorAA']/cookbgdemo['TotalAll']) * 100
PercNative = (cookbgdemo['Native']/cookbgdemo['TotalAll']) * 100
PercAsian = (cookbgdemo['Asian']/cookbgdemo['TotalAll']) * 100
PercPIslander = (cookbgdemo['PacificIslander']/cookbgdemo['TotalAll']) * 100
PercOther = (cookbgdemo['Other']/cookbgdemo['TotalAll']) * 100
PercTwoPlus = (cookbgdemo['TwoPlus']/cookbgdemo['TotalAll']) * 100
PercHispLatino = (cookbgdemo['HispanicLatino']/cookbgdemo['TotalAll']) * 100
PercEmployed = (cookbgdemo['TotalCivEmployed']/cookbgdemo['TotalCivLaborForce']) * 100
PercUnemployed = (cookbgdemo['TotalCivUnemployed']/cookbgdemo['TotalCivLaborForce']) * 100

##### Adding Race/Ethnicity & Employment Percentages to dataframe

In [6]:
cookbgdemo['PercWhite'] = PercWhite
cookbgdemo['PercBlack'] = PercBlack
cookbgdemo['PercNative'] = PercNative
cookbgdemo['PercAsian'] = PercAsian 
cookbgdemo['PercPacificIslander'] = PercPIslander 
cookbgdemo['PercOther'] = PercOther 
cookbgdemo['PercTwoPlus'] = PercTwoPlus 
cookbgdemo['PercHispanicLatino'] = PercHispLatino 
cookbgdemo['PercCivEmployed'] = PercEmployed
cookbgdemo['PercCivUnemployed'] = PercUnemployed

##### Calc Educational Attainment Percentages

In [7]:
PercNoHS = ((cookbgdemo['NoSchooling'] + cookbgdemo['Nursery'] + cookbgdemo['Kindergarten'] + cookbgdemo['1stGrade'] 
+ cookbgdemo['2ndGrade'] + cookbgdemo['3rdGrade'] + cookbgdemo['4thGrade'] + cookbgdemo['5thGrade'] 
+ cookbgdemo['6thGrade'] + cookbgdemo['7thGrade'] + cookbgdemo['8thGrade'] + cookbgdemo['9thGrade'] 
+ cookbgdemo['10thGrade'] + cookbgdemo['11thGrade'] + cookbgdemo['12thGradeNoGrad']) / cookbgdemo['TotalEdu']) * 100

PercHS = ((cookbgdemo['HSGrad'] + cookbgdemo['GEDHSGrad'])/cookbgdemo['TotalEdu']) * 100

PercCollege = ((cookbgdemo['1YrCollege'] + cookbgdemo['1PlusYrsCollegeNoDeg'] + cookbgdemo['AssociatesDeg']
                + cookbgdemo['BachelorsDeg'])/cookbgdemo['TotalEdu']) * 100

PercMasters = (cookbgdemo['MastersDeg']/cookbgdemo['TotalEdu']) * 100

PercPro = (cookbgdemo['ProSchoolDeg']/cookbgdemo['TotalEdu']) * 100

PercDoctorate = (cookbgdemo['DoctorateDeg']/cookbgdemo['TotalEdu']) * 100

##### Adding Educational Attainment Percentages to dataframe

In [8]:
cookbgdemo['PercNoHS'] = PercNoHS
cookbgdemo['PercHS'] = PercHS
cookbgdemo['PercCollege'] = PercCollege
cookbgdemo['PercMasters'] = PercMasters
cookbgdemo['PercProSchool'] = PercPro
cookbgdemo['PercDoctorate'] = PercDoctorate

##### Exporting to .csv to organize columns in Microsoft Excel

In [9]:
cookbgdemo.to_csv('/Volumes/GNA_SCHOOL_HD/street_psych/Census_Data/censusdemo2015.csv')

### Importing Organized Demographic Data

In [10]:
org_demograph = pd.read_csv("/Volumes/GNA_SCHOOL_HD/street_psych/Census_Data/censusdemo2015reorganized.csv")

#### Sorting data by block group

In [11]:
org_demograph = org_demograph.sort_values(by=['BlockGroup'])

#### Resetting the index, and creating a column with its original corresponding number

In [12]:
org_demograph.reset_index(inplace=True)

#### Dropping the first row, as it has 0 population and NaN values

In [13]:
org_demograph = org_demograph.drop([0], axis=0)

### Creating a Map of Chicago

In [12]:
#41.8781° N, 87.6298° W
latitude = 41.881832
longitude = -87.623177

# create map and display it
chi_map = folium.Map(location=[latitude, longitude], zoom_start=12)

# display the map of Chicago
chi_map

In [16]:
censusshapefile = gpd.read_file("/Volumes/GNA_SCHOOL_HD/street_psych/Census_Data/tl_2015_17_bg/tl_2015_17_bg.shp")

In [21]:
geoids = pd.read_csv("/Volumes/GNA_SCHOOL_HD/street_psych/Census_Data/modgeoid.csv", encoding = "ISO-8859-1", engine='python')

In [23]:
geoids

,FILEID,STUSAB,SUMLEVEL,COMPONENT,LOGRECNO,US,REGION,DIVISION,STATECE,STATE,...,BLANK.4,PUMA5,BLANK.5,GEOID,GEOID.1,Unnamed: 50,NAME,BTTR,BTBG,BLANK.6
0,Always equal to ACS Summary File identification,State Postal Abbreviation,Summary Level,Geographic Component,Logical Record Number,US,Census Region,Census Division,State (Census Code),State (FIPS Code),...,Reserved Future Use,Public Use Microdata Area Ð 5% File,Reserved Future Use,Geographic Identifier,Geographic Identifier,NaN,Area Name,Tribal Tract,Tribal Block Group,Reserved Future Use
1,ACSSF,IL,40,0,1,NaN,NaN,NaN,NaN,17,...,NaN,NaN,NaN,04000US17,04000U,17.0,Illinois,NaN,NaN,NaN
2,ACSSF,IL,40,1,2,NaN,NaN,NaN,NaN,17,...,NaN,NaN,NaN,04001US17,04001U,17.0,Illinois -- Urban,NaN,NaN,NaN
3,ACSSF,IL,40,43,3,NaN,NaN,NaN,NaN,17,...,NaN,NaN,NaN,04043US17,04043U,17.0,Illinois -- Rural,NaN,NaN,NaN
4,ACSSF,IL,40,A0,4,NaN,NaN,NaN,NaN,17,...,NaN,NaN,NaN,040A0US17,040A0U,17.0,Illinois -- In metropolitan or micropolitan st...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32971,ACSSF,IL,970,0,32971,NaN,NaN,NaN,NaN,17,...,NaN,NaN,NaN,97000US1743800,97000U,1743800.0,Zeigler-Royalton Community Unit School Distric...,NaN,NaN,NaN
32972,ACSSF,IL,970,0,32972,NaN,NaN,NaN,NaN,17,...,NaN,NaN,NaN,97000US1743960,97000U,1743960.0,"Yorkville Community Unit School District 115, ...",NaN,NaN,NaN
32973,ACSSF,IL,970,0,32973,NaN,NaN,NaN,NaN,17,...,NaN,NaN,NaN,97000US1743962,97000U,1743962.0,Midwest Central Community Unit School District...,NaN,NaN,NaN
32974,ACSSF,IL,970,0,32974,NaN,NaN,NaN,NaN,17,...,NaN,NaN,NaN,97000US1799997,97000U,1799997.0,"School District Not Defined, Illinois",NaN,NaN,NaN
32975,ACSSF,IL,970,0,32975,NaN,NaN,NaN,NaN,17,...,NaN,NaN,NaN,97000US1799999,97000U,1799999.0,"Remainder of Illinois, Illinois",NaN,NaN,NaN

In [30]:
cen_shpfile = censusshapefile[(censusshapefile.COUNTYFP == '031')]

In [31]:
cen_shpfile

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
3,17,031,290900,1,170312909001,Block Group 1,G5030,S,164717,0,+41.8643125,-087.7275607,"POLYGON ((-87.73006 41.86610, -87.72982 41.866..."
9,17,031,290900,2,170312909002,Block Group 2,G5030,S,164694,0,+41.8606607,-087.7274518,"POLYGON ((-87.72995 41.86245, -87.72970 41.862..."
10,17,031,290900,3,170312909003,Block Group 3,G5030,S,247352,0,+41.8605723,-087.7335667,"POLYGON ((-87.73729 41.86234, -87.73705 41.862..."
11,17,031,290900,4,170312909004,Block Group 4,G5030,S,419733,0,+41.8634334,-087.7356877,"POLYGON ((-87.73993 41.86596, -87.73977 41.865..."
12,17,031,838700,2,170318387002,Block Group 2,G5030,S,163809,0,+41.8607151,-087.7225793,"POLYGON ((-87.72506 41.86252, -87.72482 41.862..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9686,17,031,460500,2,170314605002,Block Group 2,G5030,S,163420,0,+41.7462464,-087.5685838,"POLYGON ((-87.57105 41.74803, -87.57080 41.748..."
9687,17,031,838800,1,170318388001,Block Group 1,G5030,S,121723,0,+41.7009605,-087.5613903,"POLYGON ((-87.56323 41.70277, -87.56202 41.702..."
9688,17,031,842800,1,170318428001,Block Group 1,G5030,S,81864,0,+41.8101560,-087.6905965,"POLYGON ((-87.69187 41.81195, -87.69163 41.811..."
9689,17,031,650200,6,170316502006,Block Group 6,G5030,S,124383,0,+41.7803372,-087.7356460,"POLYGON ((-87.73757 41.78214, -87.73751 41.782..."
9690,17,031,670700,2,170316707002,Block Group 2,G5030,S,163759,0,+41.7812482,-087.6666868,"POLYGON ((-87.66916 41.78305, -87.66891 41.783..."

In [35]:
crs = CRS('EPSG:4326')
cen_shpfile = cen_shpfile.to_crs(crs)
cen_shpfile.head()

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
3,17,031,290900,1,170312909001,Block Group 1,G5030,S,164717,0,+41.8643125,-087.7275607,"POLYGON ((-87.73006 41.86610, -87.72982 41.866..."
9,17,031,290900,2,170312909002,Block Group 2,G5030,S,164694,0,+41.8606607,-087.7274518,"POLYGON ((-87.72995 41.86245, -87.72970 41.862..."
10,17,031,290900,3,170312909003,Block Group 3,G5030,S,247352,0,+41.8605723,-087.7335667,"POLYGON ((-87.73729 41.86234, -87.73705 41.862..."
11,17,031,290900,4,170312909004,Block Group 4,G5030,S,419733,0,+41.8634334,-087.7356877,"POLYGON ((-87.73993 41.86596, -87.73977 41.865..."
12,17,031,838700,2,170318387002,Block Group 2,G5030,S,163809,0,+41.8607151,-087.7225793,"POLYGON ((-87.72506 41.86252, -87.72482 41.862..."